/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

/* Estilos generales */
body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #333;
}

/* Contenido Navbar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.navbar-brand:hover {
    color: #00C4FF;
}

#navbarNav {
    justify-content: center;
    align-items: center;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: #fff;
    margin-right: 10px;
    font-size: 14px;
}

.navbar-nav .nav-link:hover {
    color: #00C4FF;
}

.navbar-toggler {
    border: none;
    color: #fff;
}

/* Estilos del Dropdown */
.dropdown-item {
    color: #333;
}

.dropdown-item:hover {
    color: #00C4FF;
}

/* Estilo: Video de fondo */
#videoContenedor {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}

#videoFondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 80%;
}

#contenido {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}


label {
    color: #333;
    font-weight: bold;
}

input[type="number"] {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

span {
    color: #333;
    font-weight: bold;
}

/* Footer */
.footer {
    background: #1B1919;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    margin-top: 5px !important;
}

.footer .span {
    color: #00C4FF;
    font-weight: bold;
    margin-right: 5px;
}

.span {
    cursor: pointer;
}

.span:hover {
    color: #fff;
}


#conversion {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

#seccion2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.712)),
        url(https://cdn.pixabay.com/photo/2016/03/05/20/00/accountant-1238598_1280.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#seccion3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.712)),
        url(https://cdn.pixabay.com/photo/2019/04/14/10/27/book-4126483_1280.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#seccion4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.712)),
        url(https://cdn.pixabay.com/photo/2015/11/05/08/21/geometry-1023846_1280.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Estilo: Salto de linea */
.logo-seccion {
    font-size: 16px;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 12px 0px 8px 0px;
}

.logo-seccion h1 {
    font-size: 2rem;
    color: #fff;
}

h1:hover {
    color: #00C4FF;
}

#confetti-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
}